repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: Mypy
        entry: uv run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: vulture
        name: Vulture
        entry: uv run vulture
        language: system
        types: [python]
        pass_filenames: false


